@use "sass:map";

$theme-colors: (
    "success":rgb(106, 204, 140),
    "info":rgb(98, 153, 190),
    "warning":rgb(226, 224, 109),
    "danger":rgb(233, 78, 78),
    "green":rgb(71, 197, 176),
    "neutral":rgb(182, 182, 182),
    "clear":rgb(233, 233, 233),
    "default-button-color": #ecedee,
    "color-clear": #838383,
    "background-page": rgb(255,255,255)
);

@mixin btn-input() {
    border-radius: 5px;
    border-width: 1px;
    letter-spacing: 1px;
    text-justify: inherit;
    margin: 2px 2px 2px 2px;
}

@mixin text-form() {
    text-align: left;
}

.labels {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: capitalize;    
}

.buttons {
    @include btn-input();
    padding: 4px 20px 4px 20px;
    text-align: center;
    text-transform: capitalize;
}

.inputs {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: none;
}

.btn-danger {
    border-color: map-get($theme-colors, "danger");
    background-color: map-get($theme-colors, "danger");
    color: map-get($theme-colors, "default-button-color");
}

.btn-info {
    border-color: map-get($theme-colors, "info");
    background-color: map-get($theme-colors, "info");
    color: map-get($theme-colors, "default-button-color");
}

.btn-success {
    border-color: map-get($theme-colors, "success");
    background-color: map-get($theme-colors, "success");
    color: map-get($theme-colors, "default-button-color");
}

.btn-green {
    border-color: map-get($theme-colors, "green");
    background-color: map-get($theme-colors, "green");
    color: map-get($theme-colors, "default-button-color");
}

.btn-warning {
    border-color: map-get($theme-colors, "warning");
    background-color: map-get($theme-colors, "warning");
    color: map-get($theme-colors, "default-button-color");
}

.btn-neutral {
    border-color: map-get($theme-colors, "neutral");
    background-color: map-get($theme-colors, "neutral");
    color: map-get($theme-colors, "default-button-color");
}

.btn-neutral-clear {
    border-color: map-get($theme-colors, "clear");
    background-color: map-get($theme-colors, "clear");
    color: map-get($theme-colors, "color-clear");
}