@use "sass:map";

$colors-elements: (
    clear-text: rgb(228, 226, 226),
    gray-text: rgb(131, 131, 131),
    btn-green: rgb(124, 190, 178),
    btn-danger: rgb(255, 83, 83),
    btn-success: rgb(122, 189, 144),
    btn-info: rgb(115, 153, 179),
    btn-warning: rgb(190, 179, 81),
    btn-neutral: rgb(182, 182, 182),
    btn-neutral-clear: rgb(214, 213, 213),
    background-default:  rgb(238, 236, 236)
);

@mixin btn-input() {
    border-radius: 5px;
    border-width: 1px;
    letter-spacing: 1px;
    text-justify: inherit;
    margin: 2px 2px 2px 2px;
}

@mixin text-form() {
    text-align: left;
}

.labels {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: capitalize;    
}

.buttons {
    @include btn-input();
    padding: 4px 20px 4px 20px;
    text-align: center;
    text-transform: capitalize;
}

.inputs {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: none;
}

.btn-danger {
    border-color: map-get($colors-elements, btn-danger);
    background-color: map-get($colors-elements, btn-danger);
    color: map-get($colors-elements, background-default);
}

.btn-info {
    border-color: map-get($colors-elements, btn-info);
    background-color: map-get($colors-elements, btn-info);
    color: map-get($colors-elements, background-default);
}

.btn-success {
    border-color: map-get($colors-elements, btn-success);
    background-color: map-get($colors-elements, btn-success);
    color: map-get($colors-elements, background-default);
}

.btn-green {
    border-color: map-get($colors-elements, btn-green);
    background-color: map-get($colors-elements, btn-green);
    color: map-get($colors-elements, background-default);
}

.btn-warning {
    border-color: map-get($colors-elements, btn-warning);
    background-color: map-get($colors-elements, btn-warning);
    color: map-get($colors-elements, background-default);
}

.btn-neutral {
    border-color: map-get($colors-elements, btn-neutral);
    background-color: map-get($colors-elements, btn-neutral);
    color: map-get($colors-elements, background-default);
}

.btn-neutral-clear {
    border-color: map-get($colors-elements, btn-neutral-clear);
    background-color: map-get($colors-elements, btn-neutral-clear);
    color: map-get($colors-elements, gray-text);
}