* {
    margin: 0;
}

.header-style {
    background-color: #fd5304;

    p {
        color: #f0d1c3;
        text-shadow: 2px 3px 4px #80807e;
        font-family: Digital;
        font-size: 45px;
        padding: 20px;
        text-align: center;
    }
}