.input {
    width: 100%;
    background-color: #f3f0ed;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 1px 1px;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;
    font-family: Digital;
}

.span-number {
    text-decoration: none;
    font-size: inherit;
    color: #525150;
    font-weight: bold;
}