* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Serrat;
}

body {
    background: #202124;
}

header{
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input {
    background-color: #525356;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 400px;

    &::placeholder{
        color: #ddd;
    }
}

#export-notes{
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.6s;
    &:hover{
        background-color: #fff;
        color: #333;
    }
}