.text-thead {
    text-transform: capitalize;
    font-weight: 600;
}

.button-add {
    margin-left: 2px;

    font-weight: 600;
}

.container {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thead-tables {
    text-transform: capitalize;
    font-weight: 600;
}

div {
    padding: 10px;
}

.div-box {
    display: flex;
    justify-content: center;
}