<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 1 Meta de responsividade -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layout - Responsiveness rules</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <script src="js/script.js"></script>
</head>
<body>
    <!-- 2 Media query-->
    <h1>Mudando a cor pelo tamanho da tela</h1>
    
    <!-- 3 Min width-->
    <p>Media query inverse</p>

    <!-- 4 Landscape-->
    <h3>Visível em Landscape</h3>

</body>
</html>