
$primary: #02ceac;
$pHeaderColor: #fff;
$backgroundButtonHover: #c9cecd;
$colorButtonHover: #009480;
$textShadow: 2px 2px 3px #454747;
$linearGradientNavList: linear-gradient(#383737, #9e9c9c);
$textShadownDropdownList: 1px 2px 3px #302f2f;


