figure {
    display: inline-block;
}

img {
    /* display: inline-block; */
    height: 300px;
    width: 400px;
}

.img1 {
    opacity: 0.4;
}

.img2 {
    opacity: 0.4;
}

.img3 {
    opacity: 0.4;
}

.img1:hover {
    opacity: 1;
}

.img2:hover {
    opacity: 1;
}

.img3:hover {
    opacity: 1;
}

.img4 {
    opacity: 1;
}

.img4:hover {
    opacity: 0.4;
}

.img5 {
    opacity: 1;
}

.img5:hover {
    opacity: 0.4;
}

.img6 {
    opacity: 1;
}

.img6:hover {
    opacity: 0.4;
}