body{
    font-family: arial, sans-serif;
    margin: 0;
}

button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#newsletterForm{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#newsletterForm input,
#newsletterForm button{
    font-size: 1em;
    padding: .5em;
    border: none;
}

#newsletterForm button{
    background-color: #70757b;
    color: #dddbdb;
}

#newsletterForm input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #dddbdb;
}

#newsletterForm label{
    margin-right: .5em;
}

#newsletterForm input:focus{
    outline: none;
    background-color: white;
}

#newsletterFeedback{
    font-size: 1.3em;
    text-shadow: 2px 2px 1px #333;

}

#newsletterFeedback p{
    margin: 10px;
    display: inline-block;
}