#todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transform: .3s;

    h3 {
        flex: 1;
        font-size: 0.9rem;
    }

    button {
        margin-left: 0.4rem;        
    }
}

.done {
    background-color: #395169;
    h3{
        color: #fff;
        text-decoration: line-through;
        font-style: italic;
    }
}

