.toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    h4 {
        margin-bottom: 0.5rem;
    }
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
    }

    input {
        width: 100%;
        margin-right: 3rem;
    }
}

.search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    form {
        display: flex;
    }
    input {
        width: 100%;
        margin-right: 3rem;
    }
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
    select {
        flex: 1 ;
    }
}

