.ex1 {
    max-width: 800px;
    background: #0581f5;
    border: 1px dotted #f50505;
    padding: 10px;
    margin: 40px;
}

.ex2 {
    max-width: 800px;
    background: #0581f5;
    border: 1px dotted #f50505;
    padding: 10px;
    margin: 40px;
}