<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8"> 
    <meta name="author" content="Marcelo Guimba">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="DOM, document, document.getElementById, getElementById, Basic Javascript, JS, select, option, shadow">
    <meta name="decriptiton" content="Show Shadow DOM">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';base-uri 'self';form-action 'self'"> 
    <title>Shadow DOM</title>
    <script src="component/component.js" defer></script>
    <link rel="stylesheet" href="css/Buttons.css" />
    <link rel="stylesheet" href="css/Inputs.css" />
    <link rel="stylesheet" href="css/Struct.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        Web Component
    </header>
    <main>
        <div>
            <my-cycle text="Cycle 01" cor="green"></my-cycle>
        </div>
        <div>
            <input class="inputs" type="text" >
            <button class="buttons btn-success" type="button" >Success</button>
        </div>
    </main>
    <footer>
        <small>&copy;Guimba - 2022</small>
    </footer>
</body>

</html>