@use "sass:map";

$colors-elements: (
    clear-text: rgb(228, 226, 226),
    gray-text: rgb(131, 131, 131),
    btn-green: rgb(124, 190, 178),
    btn-danger: rgb(255, 83, 83),
    btn-success: rgb(122, 189, 144),
    btn-info: rgb(115, 153, 179),
    btn-warning: rgb(190, 179, 81),
    btn-neutral: rgb(182, 182, 182),
    btn-neutral-clear: rgb(214, 213, 213),
    background-default: rgb(238, 236, 236),
    text: #ecedee,
    background-header: rgb(152, 201, 192),
    background-footer: #9da0a3
);



* {
    font-family: system-ui;
}

body {
    box-sizing: border-box;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: map-get($colors-elements, background-header);
    vertical-align: middle;
    padding: 1px;
    color: #ecedee;
    font-size: 14px;
    font-weight: 550;
    text-shadow: 1px 1px 2px #000000;
    text-transform: capitalize;
    text-align: center;
    text-justify: inherit;
}

.ltext-header {
    color: #ecedee;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000000;
    text-transform: capitalize;
    text-align: center;
    text-justify: inherit;
}

.text-table {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 110%;
}

main {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

footer {
    border-spacing: 3px;
    background-color: map-get($colors-elements , "background-footer");
    vertical-align: middle;
    font: bold;
    padding: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color: #ecedee;
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    text-justify: auto;
    text-transform: capitalize;
}

.ltext-footer {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: #ecedee;
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    text-justify: auto;
    text-transform: uppercase;
}

@mixin btn-input() {
    border-radius: 5px;
    border-width: 1px;
    letter-spacing: 1px;
    text-justify: inherit;
    margin: 2px 2px 2px 2px;
}

@mixin text-form() {
    text-align: left;
}

.labels {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: capitalize;
}

.buttons {
    @include btn-input();
    padding: 4px 20px 4px 20px;
    text-align: center;
    text-transform: capitalize;
}

.inputs {
    @include btn-input();
    @include text-form();
    padding: 4px 10px 4px 10px;
    text-transform: none;
}

.btn-danger {
    border-color: map-get($colors-elements, btn-danger);
    background-color: map-get($colors-elements, btn-danger);
    color: map-get($colors-elements, background-default);
}

.btn-info {
    border-color: map-get($colors-elements, btn-info);
    background-color: map-get($colors-elements, btn-info);
    color: map-get($colors-elements, background-default);
}

.btn-success {
    border-color: map-get($colors-elements, btn-success);
    background-color: map-get($colors-elements, btn-success);
    color: map-get($colors-elements, background-default);
}

.btn-green {
    border-color: map-get($colors-elements, btn-green);
    background-color: map-get($colors-elements, btn-green);
    color: map-get($colors-elements, background-default);
}

.btn-warning {
    border-color: map-get($colors-elements, btn-warning);
    background-color: map-get($colors-elements, btn-warning);
    color: map-get($colors-elements, background-default);
}

.btn-neutral {
    border-color: map-get($colors-elements, btn-neutral);
    background-color: map-get($colors-elements, btn-neutral);
    color: map-get($colors-elements, background-default);
}

.btn-neutral-clear {
    border-color: map-get($colors-elements, btn-neutral-clear);
    background-color: map-get($colors-elements, btn-neutral-clear);
    color: map-get($colors-elements, gray-text);
}

.tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tables td,
.tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tables tr:hover {
    background-color: #ddd;
}

.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #56a588;
    color: white;
}

.selects {
    @include btn-input();
    @include text-form();
    text-transform: capitalize;
}